{% extends 'base.html' %}
{%load static%}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container" data-aos="fade-up" data-aos-delay="100">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static '/img/portfolio/portfolio-3.jpg'%}" class="img-fluid" alt="" style="width: 1000px; height: 630px;">
            <img src="{% static '/img/portfolio/portfolio-details-33.jpg'%}" class="img-fluid" alt="" style="width: 1000px; height: 630px;">
            <img src="{% static '/img/portfolio/portfolio-details-32.jpg'%}" class="img-fluid" alt="" style="width: 1000px; height: 630px;">


          </div>

          <div class="portfolio-info">
            <h3>Websites Info</h3>
            <ul>
              <li><strong>&#x2022; Project URL</strong>:</li>
              <li><a href="https://tvrecommend8282.netlify.app/">Click TV show Recommend Site</a> </li>
              <li><a href="https://gaeun-word-counter.netlify.app/">Click Word count Site</a></li>
              <li><a href="https://calculatorbygaeun.netlify.app//">Click Simple Calculator Site</a></li>
              </li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>Description</h2>
          <p>
          Language used: HTML/CSS/JS
          </p>

          <p>
            <strong>Recommend TV Show Wesite</strong>
            <br>&#x2022; Code uses the Fetch API to ask The Movie Database (TMDb) for information about TV shows. 
              It includes a secret key (APIKEY) for permission. The requests go to different places like "on_the_air" or "top_rated" to get specific data about TV shows. 
              The results, in a format called JSON, are used to create and show TV show details on a webpage 
          </p>
  
          <p>
            <strong>Count characters</strong> 
            <br>&#x2022; Document creates a "Word Counter" webpage with a textarea for input, dynamically counting the number of words in real-time and displaying the character count. 
              It utilizes Bootstrap for styling and limits input to 10,000 characters.
          </p>

          <p>
            <strong>Calculator </strong>
            <br>&#x2022; Functions for a basic calculator, allowing users to insert values, clear the result, remove the last character (backspace), 
              and perform mathematical calculations with error handling.
          </p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock %}