{% extends 'base.html' %}
{%load static%}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>SUEL.</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container" data-aos="fade-up" data-aos-delay="100">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static '/img/portfolio/portfolio-6.jpg'%}" class="img-fluid" alt="">
         </div>

          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Social App</li>
              <li><strong>Project date</strong>: March 2023-Current</li>
              <li><strong>Project URL</strong>: <a href="https://seul-3projm-808e4.web.app/">SEUL. </a></li>
          </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>SUEL. Description</h2>
          <p>
            &#x2022; Developed MVP using PWA(Progressive Web App) and Firebase as the backend
          </p>
          <p>
            &#x2022; Led the coordination of project schedules and procedures to meet deadlines in consultation with all team member
          </p>
          <p>
            &#x2022; Designed a social network-based mobile application that allows users in the same location to collaborate to complete photo frames
          </p>
          <p>
            &#x2022; Coordinated the technological shift to native apps based on iOS
          </p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock %}