{% extends 'base.html' %}
{%load static%}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container" data-aos="fade-up" data-aos-delay="100">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static '/img/portfolio/portfolio-details-61.jpg' %}" class="img-fluid" alt="" style="width: 900px; height: 600px;">
            <img src="{% static '/img/portfolio/portfolio-details-62.jpg' %}" class="img-fluid" alt="" style="width: 900px; height: 600px;">
            <img src="{% static '/img/portfolio/portfolio-details-63.jpg' %}" class="img-fluid" alt="" style="width: 900px; height: 600px;">
            <img src="{% static '/img/portfolio/portfolio-details-64.jpg' %}" class="img-fluid" alt="" style="width: 900px; height: 600px;">
          </div>

          <div class="portfolio-info">
            <h3>SEUL.</h3>
            <ul>
              <li><strong>Category</strong>: Social Mobile Application</li>
              <li><strong>Date</strong>: Aug. 2023 - Current</li>
              <li><strong>URL</strong>:
                <a href="https://seul-3projm-808e4.web.app/"> Click SEUL. & </a> 
                <a href="https://drive.google.com/file/d/1lp6Fp6m_hkXKnujvvkpZJw5saXr4tC_e/view?usp=sharing"> Demo</a>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>Description</h2>
          <p>
            <li><strong>Technology</strong>: React Native, AWS </li>
          </p>
          <p>
            &#x2022; Developed MVP by using PWA(Progressive Web App) and Firebase as the backend
          </p>
          <p>
            &#x2022; Designed a social network-based mobile application that enables users in the same location to collaboratively complete a photo frame,<br>
            leveraging high interest from 31,109 views and around 150 surveys generated through social media advertising
          <p>
            &#x2022; Coordinated the technological shift to native apps based on iOS
          </p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock %}