{% extends 'base.html' %}
{%load static%}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Hackerton</h2>
          <ol>
            <li><a href="">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container" data-aos="fade-up" data-aos-delay="100">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static '/img/portfolio/portfolio-4.jpg'%}" class="img-fluid" alt="">
            <img src="{% static '/img/portfolio/portfolio-details-41.jpg' %}" class="img-fluid" alt="">
            <img src="{% static '/img/portfolio/portfolio-details-42.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="portfolio-info">
            <h3>About Hackerton</h3>
            <ul>
              <li><strong>Title</strong>: B2B PBV</li>
              <li><strong>Insitution  </strong>: LIKELION, supporting by Hyundai Cradle</li>
              <li><strong>Hackton date</strong>: January 20230</li>
              <li><strong>Our Project: </strong><a href="#">Github</a></li>
              <li><strong>News about the Hackerton(written by Korean):</strong><a href="https://www.mk.co.kr/news/it/10626036"> Read News</a></li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>Hackerton Description</h2>
          <p>
            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
          </p>
          
          <p>
            hewerwerwer
          </p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock %}